// Custom CSS for Kittysite

// Make the main wrapper spaced further down the page
.top-spacing {
	margin: 50px auto 10px !important;
}

// Make all headings uppercase
h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}

.site-title {
	text-align: center;
}

.contents-titles, .contents-titles a {
	padding-top: 3em;
	color: $txtColor;
}

.contents-titles a:hover, .sidebar-title a:hover {
	color: $headerFontColor;
}

// Blog post titles need to be grey
.entry-title, .entry-title a, .sidebar-title a {
	color: $txtColor;
}

.entry-title, .entry-title a {
	text-align: right;
}

.entry-date {
	font-style: italic;
	text-transform: none;
	color: $txtColor;
}

.sidebar-subtitle {
	text-transform: none;
	color: $txtColor;
	margin-top: -1.5em;
	letter-spacing: -0.05em
}

// Utility class to centre crap
.frontandcenter {
	text-align: center;
}

// Set the blog post backgrounds to white
article.type-post {
	//background: #f0f0f0;
	background: $white;
	//padding: 10px 25px 25px 25px;
	padding: 0.625em 1.5em 1.5em 1.5em;
	//border: 1px solid #bebebe;
	margin-bottom: 2.5em;
}

// Make the archives sidebar widget good
.FlexoArchives_widget_archives ul, .FlexoArchives_widget_archives li {
	font-family: $headerFontFamily;
	font-weight: $headerFontWeight;
	font-style: italic;
	list-style-type: none;
	padding: 0;
	margin-left: 0;
	font-size: ms(1);
}
@media only screen and (max-width: 767px) { 
	.widget-title, .FlexoArchives_widget_archives ul, li {
		text-align: center;
	}
}

.flexo-link {
	color: $txtColor;
}

.body-content h4,
.body-content h5,
.body-content h6 {
	color: $txtColor;
}
@media only screen and (max-width: 767px) { 
	.body-content h4,
	.body-content h5,
	.body-content h6 {
		text-align: center;
	}
}


.body-content li {
	padding-bottom: 0.5em;
	// Prefer 0.2em
	list-style-type: none;
}

// Make images in blog posts have a border
.body-content img, li.page_item a img {
	border: 1.5em solid rgba(252, 252, 252, 1);
}

.portfolio-contents{
	padding-top: 20px;
}


// Zurb Icons
$fontFileName: "fonts/general_foundicons";
$fontName: "GeneralFoundicons";
$classPrefix: "general-foundicon-";
@import "general_foundicons";
@import "general_foundicons_ie7";
$fontFileName: "fonts/social_foundicons";
$fontName: "SocialFoundicons";
$classPrefix: "social-foundicon-";
@import "social_foundicons";
@import "social_foundicons_ie7";
